<div class="cont-all-default">
    <!--Intento-->
    <div class="cont-sound-animal">
        <p class="text-intro-app time">
            <span id="timer" #Timer>2:00</span>
		</p>
    </div>
     <!--Opciones-->
    <div *ngIf="adivino === 'ND'">
        <p class="text-intro-app">
            ¿Que animal escuchaste?
        </p>
        <div class="cont-btn-animals">
            <div class="btn-animals" *ngFor="let animal of animales">
                <div *ngIf="!animal.adivinado">
                    <button class="btn-animal" (click)="seleccionarAnimal(animal.nombre)">
                        <img class="img-responsive" src="{{animal.image}}">
                    </button>
                </div>
			</div>
			<button class="btn-default-app btn-left" (click)="repetir()">Repetir</button>
        </div>
    </div>
</div>
<div class="cont-answer-result">
    <div *ngIf="adivino === 'SI'">
        <p class="text-intro-app title-result">
            FELICIDADES
        </p>
        <p class="text-intro-app">
            ¡Adivinaste el animal!
        </p>

        <div class="cont-face-result">
            <img class="img-responsive" src="assets/images/img-icon-smile.png" alt="">
        </div>

        <button class="btn-default-app" (click)="siguiente()">Siguente</button>
    </div>

    <div *ngIf="adivino === 'NO'">
        <p class="text-intro-app title-result">
            MAL
        </p>
        <p class="text-intro-app">
            ¡NO Adivinaste el animal!
        </p>

        <div class="cont-face-result">
            <img class="img-responsive" src="assets/images/img-icon-sad.png" alt="">
		</div>
        <button class="btn-default-app" (click)="repetir()">Volver A Escuchar</button>
    </div>
</div>
