<div class="cont-all-default">
    <!--Intento-->
    <div class="cont-sound-animal">
        <p class="text-intro-app">
            ¿Preparado?
        </p>
        <p class="text-intro-app time">
            2:00
        </p>
        <div class="cont-btn-micro">
            <button class="btn-default-app btn-micro-app">
                <img class="img-responsive" src="assets/images/icon-img-speaker.png" alt="">
            </button>
        </div>
        <button class="btn-default-app btn-left" (click)="sonidoAnimal()">Repetir</button>
    </div>
     <!--Opciones-->
    <div>
        <p class="text-intro-app">
            ¿Que animal escuchaste?
        </p>
        <div class="cont-btn-animals">
            <div class="btn-animals" *ngFor="let animal of animales">
                <div [ngClass]="{'gris': animal.adivinado}">
                    <button class="btn-animal" (click)="seleccionarAnimal(animal.nombre)">
                        <img class="img-responsive" src="{{animal.image}}">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cont-answer-result">
    <div *ngIf="adivino === 'SI'">
        <p class="text-intro-app title-result">
            FELICIDADES PERRITO
        </p>
        <p class="text-intro-app">
            ¡Adivinaste el animal!
        </p>

        <div class="cont-face-result">
            <img class="img-responsive" src="assets/images/img-icon-smile.png" alt="">
        </div>

        <button class="btn-default-app" (click)="siguiente()">Siguente</button>
    </div>

    <div *ngIf="adivino === 'NO'">
        <p class="text-intro-app title-result">
            ERES UN PERDEDOR PERRITO
        </p>
        <p class="text-intro-app">
            ¡NO Adivinaste el animal!
        </p>

        <div class="cont-face-result">
            <img class="img-responsive" src="assets/images/img-icon-sad.png" alt="">
        </div>
        <button class="btn-default-app" (click)="sonidoAnimal()">Volver A Escuchar</button>
    </div>
</div>
