.time
    font-size 2.4rem
    line-height 2.4rem
    margin 0 0 20px

.cont-btn-micro
    margin 0 auto 30px
    width 250px

.cont-btn-animals
    margin 30px auto
    width 200px

    .btn-animals
        margin 30px auto
        width 120px

        .btn-animal
            background transparent
            border none

.cont-answer-result
    margin 30px auto
    width 90%

    .text-intro-app.title-result
        font-size 2rem

    .cont-face-result
        margin 20px auto
        width 40%
