<div class="cont-all-default">
    <!--Grabar-->
    <div *ngIf="!textoEscuchado">
        <p class="text-intro-app">
            Oprime el botón y di tu nombre.
        </p>
        <div class="cont-btn-micro" >
            <button class="btn-default-app btn-micro-app" [ngClass]="{'grabar': recognizing}" (click)="escuchar()">
                <img class="img-responsive" [ngClass]="{'desaparece': recognizing}" src="assets/images/icon-img-micro.png" alt="">
                <div class="punto" *ngIf="recognizing"></div>
            </button>
        </div>
    </div>

    <!--Repetir *ngIf="textoEscuchado"-->
    <div *ngIf="textoEscuchado">
        <p class="text-intro-app">
            Hola, {{textoEscuchado}}<br>
            Listo para jugar?
        </p>
        <div class="cont-btn-micro">
            <button class="btn-default-app btn-micro-app" (click)="escuchar()">
                <img class="img-responsive" src="assets/images/icon-img-micro.png" alt="">
            </button>
        </div>
        <div class="cont-btn-double">
            <button class="btn-default-app btn-left" (click)="repito()">No Soy {{textoEscuchado}}</button>
            <button class="btn-default-app" routerLink="/nivel">Sí</button>
        </div>
    </div>
</div>
