@import '../../default.styl'

.cont-all-default
    margin-bottom 100px

.cont-btn-level
    margin 40px auto
    width 200px

.btn-micro-app
    height 200px
    width 200px

    .pato
        margin -16px 0 0 -2px
        max-width 132px

    .tortuga,
    .delfin
        margin -27px 0 0 2px
        max-width 200px

hr.division-btn
    border-bottom 10px dotted $blanco
    margin auto
    width 300px

.text-btn-level
    font-size 2rem
    text-align center

.morado-d
    color $morado-d

.morado-m
    color $morado-m

.morado-c
    color $morado-c

