<div class="cont-sol-bkg">
    <img class="img-responsive" src="assets/images/bkg-img-sol.png" alt="">
</div>
<div class="cont-cloud-l cloud-1">
        <img class="img-responsive" src="assets/images/bkg-img-nube-l.png" alt="">
</div>
<div class="cont-cloud-r cloud-2">
        <img class="img-responsive" src="assets/images/bkg-img-nube-r.png" alt="">
</div>
<div class="cont-cloud-l cloud-3">
        <img class="img-responsive" src="assets/images/bkg-img-nube-l.png" alt="">
</div>
<div class="cont-cloud-r cloud-4">
        <img class="img-responsive" src="assets/images/bkg-img-nube-r.png" alt="">
</div>


<div class="cont-all-default cont-intro-home">
    <div class="cont-logo-app">

    </div>
    <button class="btn-default-app" routerLink="/inicia">Iniciar</button>
</div>
