<div class="cont-all-default">
    <p class="text-intro-app">
        RESULTADOS
    </p>

    <div class="cont-list-result">
        <!--*ngFor="let result of results"-->
        <div class="list-result">
            <img class="img-responsive" src="assets/images/animales/gatito.png" alt="">
            <i class="icon-answer wrong"></i>
        </div>
        <div class="list-result">
                <img class="img-responsive" src="assets/images/animales/pato.png" alt="">
                <i class="icon-answer correct"></i>
        </div>
    </div>
    <button class="btn-default-app"  routerLink="/nivel">Inicio</button>
</div>
