@import '../../default.styl'

.text-intro-app
    font-size 2.4rem

.cont-list-result
    margin 30px auto
    width 40%

    .list-result
        margin-bottom 40px
        position relative

    .icon-answer
        background-repeat no-repeat
        display inline-block
        height 50px
        position absolute
        top 50%
        right -10px
        width 50px

    .wrong
        background-image url('/assets/images/img-icon-wrong.svg')

    .correct
        background-image url('/assets/images/img-icon-correct.svg')
